@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import 'nullstyles.scss';
@import 'header.scss';
@import 'navbar.scss';
@import 'subway.scss';
@import 'modal.scss';
body {
  background-image: url('../img/layout/background-subway-shop.jpg');
  font-size: 18px;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.main {
  &__block {
    margin-top: 20px;
    display: flex;
  }

  &__content {
    flex: 1 1 75%;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.container-modal {
  margin: 0 auto;
  max-width: 800px;
}
.container-big {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
.container-content {
}
.container-middle {
  margin: 0 auto;
  max-width: 900px;
}

//////////////////
