@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 20px;
  letter-spacing: 0px;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__block {
  padding-top: 30px;
}

.header__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  line-height: 44px;
}

.navbar__block {
  padding-right: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  max-width: 400px;
}

.navbar__top {
  text-align: center;
  border: 2px solid grey;
  border-radius: 2%;
  background-color: white;
}

.navbar__middle {
  margin-top: 40px;
}

.navbar__btn-custom {
  padding: 10px 10px;
  width: 100%;
}

.navbar__btn-custom button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 0 black;
          box-shadow: 0px 5px 0 black;
  background-color: gray;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.navbar__btn-custom button:hover {
  background-color: #db9d18;
}

.navbar__btn-custom button:active {
  top: 3px;
  -webkit-box-shadow: 0px 1px 0 black;
          box-shadow: 0px 1px 0 black;
}

.navbar__bottom {
  margin-top: 40px;
}

.navbar__basket-block {
  border: 2px solid grey;
  border-radius: 10px;
}

.menu__item {
  padding: 10px 20px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.menu__item a {
  text-decoration: none;
  color: black;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.menu__item:hover {
  background-color: orange;
}

.menu__item.selected {
  background-color: orange;
}

.menu__item:hover.menu__item a {
  color: white;
}

.basket__flex {
  font-family: initial;
  font-family: initial;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basket__header {
  padding: 15px 10px;
  color: white;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: orange;
  border-bottom: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.basket__icon {
  padding-left: 10px;
  position: relative;
}

.basket__title {
  padding: 5px 10px 0 0;
}

.basket__body {
  position: relative;
  background-color: #ebda7a;
}

.basket__footer {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  background-color: #ebda7a;
}

.basket__btn {
  padding: 10px 10px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ebda7a;
}

.basket__btn button {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 5px 0 black;
          box-shadow: 0px 5px 0 black;
  background-color: gray;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  font-weight: 600;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.basket__btn button:active {
  top: 3px;
  -webkit-box-shadow: 0px 1px 0 black;
          box-shadow: 0px 1px 0 black;
}

.basket__btn button:hover {
  background-color: #db9d18;
}

.fa-solid {
  position: relative;
}

.icon-shadow {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  top: 5px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.icon-shadow::after {
  position: absolute;
  content: '';
  top: 15px;
  left: -11px;
  width: 35px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

.body__item {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.body__item_left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.body__item_right {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.body__top {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  font-weight: 600;
}

.body__top::after {
  position: absolute;
  content: '';
  width: 90%;
  height: 2px;
  bottom: 0;
  background-color: orange;
}

.body__bottom {
  text-align: center;
  padding: 15px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-trash-can {
  position: relative;
  cursor: pointer;
  margin-left: 5px;
}

.fa-trash-can:hover {
  cursor: pointer;
  margin-left: 5px;
  bottom: 3px;
  left: 3px;
  color: #3a2702;
}

.subway__block {
  text-align: center;
  min-height: 380px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.subway__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.subway__img-logo {
  margin: 10px 5px 0;
  background-color: white;
  border: 15px solid orange;
  border-radius: 50%;
  max-width: 230px;
  max-height: 230px;
}

.subway__img-logo img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.subway__title {
  margin: 10px 0;
  font-weight: 700;
  font-size: 22px;
}

.subway__link {
  width: 100%;
}

.subway__link a {
  position: relative;
  text-decoration: underline;
}

.subway__price {
  margin-top: 10px;
  color: red;
  font-size: 22px;
  font-weight: 600;
}

.subway__btn-block {
  margin-top: 10px;
}

.subway__btn-to-basket button {
  position: relative;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-box-shadow: 0 3px 0 black;
          box-shadow: 0 3px 0 black;
  width: 100%;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.subway__btn-to-basket button:hover {
  background-color: #422c02;
}

.subway__btn-to-basket button:active {
  top: 3px;
  -webkit-box-shadow: 0px 1px 0 black;
          box-shadow: 0px 1px 0 black;
}

.flex__top {
  min-height: 360px;
}

.flex__middle {
  padding: 10px 0;
  position: relative;
  min-height: 85px;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.btn-block__text {
  font-weight: 600;
}

.btn-block__btns-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fa-plus {
  padding: 10px;
  color: grey;
  cursor: pointer;
}

.fa-minus {
  padding: 10px;
  color: grey;
  cursor: pointer;
}

.btns-list__btn {
  margin: 0 5px;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 20px;
  background-color: white;
}

.btns-list__btn:nth-child(2) {
  text-align: center;
  width: 30%;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  margin: 40px 0;
  font-family: initial;
  font-family: initial;
  text-align: center;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 900px;
}

.modal__header {
  padding: 20px;
  font-size: 22px;
  color: white;
  background-color: orange;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modal__close:hover span {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.modal__close span {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  right: 0;
  background-color: grey;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 11px;
}

.modal__close span::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  right: 0;
  background-color: grey;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.modal__body {
  padding: 0 20px;
  background-color: #a5a4a4;
}

.modal__btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__btn-list.hiddenBack {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.modal__btn-list.hiddenNext {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.modal__btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: tomato;
  text-transform: uppercase;
}

.modal__btn.hidden {
  display: none;
}

.modal__btn span {
  margin: 0 5px;
}

.modal__footer {
  padding: 20px;
  color: tomato;
  font-size: 20px;
  font-weight: 700;
  background-color: white;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.modal__content {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 500px;
  overflow-y: scroll;
}

.body__navbar {
  margin: 20px 1px;
  background-color: white;
  border-radius: 5px;
}

.body__navbar-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.navbar__item:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.navbar__item:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navbar__item {
  cursor: pointer;
  padding: 10px 45px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.navbar__item:hover {
  background-color: tomato;
}

.navbar__item.selected {
  cursor: default;
  background-color: tomato;
}

.modal__content-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 10px 15px 20px;
  margin: 10px 5px;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  border-radius: 5px;
  max-width: 240px;
}

.modal__content-card:hover {
  -webkit-box-shadow: 1px 1px yellow, -1px -1px yellow;
          box-shadow: 1px 1px yellow, -1px -1px yellow;
  background-color: orange;
}

.modal__content-card.select {
  -webkit-box-shadow: 1px 1px yellow, -1px -1px yellow;
          box-shadow: 1px 1px yellow, -1px -1px yellow;
  background-color: orange;
  -webkit-transition: border 0.4s ease;
  transition: border 0.4s ease;
}

.content-card__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content-card__img {
  border: 10px solid orange;
  padding: 40px 15px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  min-height: 250px;
}

.content-card__img img {
  border-radius: 50%;
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-card__text {
  margin: 10px auto;
  font-size: 20px;
  font-weight: 600;
}

.content-card__price {
  padding-top: 10px;
  border-top: 1px solid black;
  color: tomato;
  font-weight: 600;
}

.modal__content-total {
  width: 100%;
}

.content-total__block {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-total__img {
  border: 10px solid orange;
  padding: 40px 15px;
  position: relative;
  border-radius: 50%;
  background-color: white;
  min-width: 300px;
  min-height: 300px;
}

.content-total__img img {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.block__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  text-align: left;
}

.right__top {
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
}

.right__top h2 {
  font-weight: 700;
  font-size: 28px;
}

.right__top::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
}

.right__middle {
  position: relative;
}

.right__middle::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
}

.right__bottom {
  margin-top: 40px;
  font-weight: 700;
}

.middle__item {
  padding-top: 5px;
}

.middle__item:last-child {
  padding-bottom: 10px;
}

.bottom__name {
  font-size: 28px;
}

.modal__btn-block {
  font-size: 14px;
}

.modal__total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__total-price span {
  margin: 10px 10px 0;
}

.modal__btn-to-basket {
  min-width: 200px;
}

.modal__btn-to-basket button {
  position: relative;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 5px;
  border: 1px solid grey;
  -webkit-box-shadow: 0 3px 0 black;
          box-shadow: 0 3px 0 black;
  width: 100%;
  background-color: orange;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.modal__btn-to-basket button:hover {
  background-color: #422c02;
}

.modal__btn-to-basket button:active {
  top: 3px;
  -webkit-box-shadow: 0px 1px 0 black;
          box-shadow: 0px 1px 0 black;
}

.modal-block__text {
  text-transform: uppercase;
  color: black;
}

.btns-modal__btn {
  margin: 0 10px;
  border-radius: 50%;
  border: 1px solid grey;
  font-size: 20px;
  background-color: white;
}

.fa-minus {
  padding: 5px;
  cursor: pointer;
}

.modal-input {
  max-width: 7%;
  border-radius: 5px;
  text-align: center;
}

.fa-plus {
  cursor: pointer;
  padding: 5px;
}

body {
  background-image: url("../img/layout/background-subway-shop.jpg");
  font-size: 18px;
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

.main__block {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}

.main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-modal {
  margin: 0 auto;
  max-width: 800px;
}

.container-big {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

.container-middle {
  margin: 0 auto;
  max-width: 900px;
}
