.loader__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 150px auto;
}

.ldsDualRing {
  display: inline-block;
  width: 160px;
  height: 160px;
}

.ldsDualRing:after {
  content: ' ';
  display: block;
  width: 256px;
  height: 256px;
  margin: 16px;
  border-radius: 50%;
  border: 8px solid orange;
  border-color: orange transparent orange transparent;
  -webkit-animation: ldsDualRing 1.2s linear infinite;
          animation: ldsDualRing 1.2s linear infinite;
}

@-webkit-keyframes ldsDualRing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes ldsDualRing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
