.modalLoader__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalLoader__lds-dual-ring {
  display: inline-block;
  width: 164px;
  height: 371px;
}

.modalLoader__lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 164px;
  height: 164px;
  margin: 100px auto;
  border-radius: 50%;
  border: 6px solid orange;
  border-color: orange transparent orange transparent;
  -webkit-animation: lds-dual-ring 0.7s linear infinite;
          animation: lds-dual-ring 0.7s linear infinite;
}

@-webkit-keyframes modalLoader__lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes modalLoader__lds-dual-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
