.loader__wrapper {
  display: flex;
  justify-content: center;
  margin: 150px auto;
}
.lds-dual-ring {
  display: inline-block;
  width: 160px;
  height: 160px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 256px;
  height: 256px;
  margin: 16px;
  border-radius: 50%;
  border: 8px solid orange;
  border-color: orange transparent orange transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
